{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}


{% block body_block %}
      <h1>Rango says...</h1>
      <div>
          This tutorial has been put together by Trine.
          <strong>{{ boldmessage }}</strong><br />
      </div>
          <img src="{{ MEDIA_URL}}cat.jpg" alt="Picture of cat" >
          <!--alt="Picture of Cat" /> if picture cannot be loaded, this text will accour with frame-->
          <img src="{% static "images/hi.gif" %}" alt="Picture saying hi" />
{% endblock %}
