<!DOCTYPE html>

{% load staticfiles %}

<html>

  <head>
      <title>Rango</title>
  </head>

  <body>
      <h1>Rango says...</h1>
      <div>
          hey there partner! <br />
          <strong>{{ boldmessage }}</strong><br />
      </div>
      <div>
          <a href="/rango/about/">About</a><br />
          <img src="{% static "images/rango.jpg" %}"
          alt="Picture of Rango" /> <!--if picture cannot be loaded, this text will accour with frame-->
      </div>

  </body>

</html>



<!--

<html>
  <head>
    <title>Rango</title>
    CSS:  <link rel="stylesheet" href="{% static "css/base.css" %}" />
    JavaScript:  <script src="{% static "js/jquery.js" %}"></script>
  </head>

  <body>
    Image:  <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
  </body>

</html>

-->
